asgiref==3.5.2
certifi==2022.9.24
charset-normalizer==2.1.1
Django==3.2.16
django-cart==1.0.4
fontawesomefree==6.2.1
idna==3.4
mercadopago==2.2.0
pytz==2022.6
requests==2.28.1
sqlparse==0.4.3
typing_extensions==4.4.0
unicode==2.9
urllib3==1.26.13
